---
import Layout from "../components/layouts/Layout.astro";
import Navbar from "../components/Navbar.astro";
import "../styles/tailwind.css";
---

<Layout title="Contact | Portfolio">
    <Navbar />
    <div class="text-4xl text-white font-bold text-center mt-8 mb-3">
        Contact
    </div>
    <ul class="text-white text-center mx-auto mt-3">
        <li><a href="mailto:carson.smith@utdallas.edu" class="text-blue-300 hover:text-blue-500">carson.smith@utdallas.edu</a> </li>
        <li><a href="https://linkedin.com/in/carson-sm" class="text-blue-300 hover:text-blue-500">LinkedIn</a></li>
    </ul>
</Layout>