---
import Layout from "../components/layouts/Layout.astro";
import Navbar from "../components/Navbar.astro";
import "../styles/tailwind.css";
---
<Layout title="Goals | Portfolio">
    <Navbar />
    <div class="text-4xl text-white font-bold text-center mt-8 mb-3">
        Goals
    </div>

    <div class="text-xl text-white text-center mx-24">
        This is a collection of academic and professional goals I have for college and beyond.
    </div>

    <div class="text-3xl text-white font-bold text-center mt-3">
        Academic
    </div>
    <ul class="text-white text-xl text-center mx-auto mt-3">
        <li>Achieve the three CompTIA "basic" certifications (A+, Network+, Security+) by the end of the 2024-2025 academic year.</li>
        <li>Achieve and maintain a 3.5 GPA.</li>
    </ul>

    <div class="text-3xl text-white font-bold text-center mt-3">
        Professional
    </div>
    <ul class="text-white text-xl text-center mx-auto mt-3">
        <li>Start working in the IT industry by Summer 2025, either at an internship or at an entry-level position.</li>
        <li>Acquire more certifications, like CISSP, CCNA, and Microsoft Office/Microsoft Server certifications.</li>
        <li>Start working in IT Infrastructure after graduation, like Systems Administration, Infrastructure/Systems Engineering, or DevOps.</li>
        <li>Never stop learning new IT skills. Never stop keeping up with the industry.</li>
    </ul>
</Layout>