---
import '../styles/tailwind.css'
---


<div class="flex items-center justify-between bg-gray-800 text-white p-4">
    <!-- Site Title -->
    <div class="font-bold text-lg">
        <a href="/" class="hover:text-gray-300">Professional Online Portfolio</a>
    </div>

    <!-- Pages -->
    <div class="flex flex-1 justify-evenly ml-4">
        <a href="/video" class="hover:text-gray-300">Video</a>
        <a href="/writing" class="hover:text-gray-300">Writing</a>
        <a href="/goals" class="hover:text-gray-300">Goals</a>
        <a href="/resume" class="hover:text-gray-300">Resume</a>
        <a href="/contact" class="hover:text-gray-300">Contact</a>
    </div>
</div>